#### Git Ignore for Portfolio ####

## .idea directory files ##
.idea/**/discord.xml
.idea/**/encodings.xml
.idea/**/indexLayout.xml
.idea/**/misc.xml
.idea/**/projectSettingsUpdater.xml
.idea/**/vcs.xml
.idea/**/workspace.xml

## ignore all files starting with . or ~ ##
.*
~*

## ignore log files and databases ##
*.log
*.sql
*.sqlite

## ignore compiled files ##
*.com
*.class
*.dll
*.exe
*.o
*.so

## ignore packaged files ##
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

## ignore private/secret files ##
*.der
*.key
*.pem

## track these files, if they exist ##
!.gitignore